<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.xyz.php">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".config.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <!-- Glide 替换网络请求库为 OkHttp3 -->
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule"/>

        <activity android:name=".views.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.activities.LoginActivity">
        </activity>
        <activity android:name=".views.activities.MainActivity"/>
        <activity android:name=".views.activities.RegisterActivity"/>
        <activity android:name=".views.activities.UserActivity"/>
        <activity android:name=".views.activities.HomeActivity"/>
        <activity android:name=".views.activities.UserDetailActivity"/>

    </application>

</manifest>